**/__pycache__/
**/*.pyc
**/.conda/
**/.vscode/
**/RawData/
**/RawData_Am241/
**/RawData_Ra226/
**/RawData_Pu/
**/*.dwf3work
**/WaveformsFiles/
**/.spyproject/
**/.idea/# pixi environments
**/.pixi/
!.pixi/config.toml
*.parquet
